# Database - PostgreSQL
DATABASE_URL="postgresql://neondb_owner:npg_2NCTrVw3RPaj@ep-dark-tooth-adac7ukk-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"


# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN="8275935313:AAEJ6O8HN_6r6X-XRzzRpuWwb8jC883yn8o"
TELEGRAM_CHAT_ID="549168650"

# Next.js Configuration
NEXTAUTH_SECRET="your-secret-key-here"
NEXTAUTH_URL="http://localhost:3000"

# Email Configuration (optional)
EMAIL_HOST=""
EMAIL_PORT=""
EMAIL_USER=""
EMAIL_PASS=""
ADMIN_EMAIL=""
